/* Global settings*/
html {
  font-size: 62.5%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 5rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

body {
  background: #242424;
  color: white;
  font-family: 'Lacquer', cursive;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin: 5rem 0rem;
  padding: 0rem 2rem;
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
}

.frasi {
  text-align: center;
  padding: 0rem 5rem;
}

.frasi #f1 {
  -webkit-animation: fade-in-out 4s forwards;
          animation: fade-in-out 4s forwards;
  visibility: hidden;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.frasi #f2 {
  -webkit-animation: fade-in-out 4s forwards;
          animation: fade-in-out 4s forwards;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.frasi #f3 {
  -webkit-animation: fade-in-out 4s forwards;
          animation: fade-in-out 4s forwards;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  visibility: hidden;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.frasi #f4 {
  text-align: center;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  visibility: hidden;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  50% {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  50% {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

.weapons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: -5vh auto 0rem auto;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
  visibility: hidden;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.weapons img {
  width: 10vw;
  border: solid 2px white;
  border-radius: 10px;
  padding: 3rem;
  cursor: pointer;
}

.weapons img:hover {
  -webkit-animation: ingrandisci 1.5s infinite alternate;
          animation: ingrandisci 1.5s infinite alternate;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 20px white;
          box-shadow: 0px 0px 20px white;
}

.pointers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
  visibility: hidden;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.pointers-box {
  padding: 3rem 4rem;
}

.pointers-box h2 {
  text-align: center;
}

#battleresult {
  text-align: center;
  margin: 2rem 0rem;
}

@-webkit-keyframes ingrandisci {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes ingrandisci {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (max-width: 740px) {
  .title {
    margin-top: 2rem;
  }
  .weapons img {
    padding: 1.5rem;
  }
  #f3 {
    margin-top: -6rem;
  }
  #f4 {
    margin-top: -8rem;
  }
  .frasi {
    padding: 0rem 2rem;
  }
}

/*WIN-LOST SETTINGS*/
.destiny-title {
  text-align: center;
  margin: 10rem 0rem;
  padding: 0rem 5rem;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
  visibility: hidden;
}

.destiny-button {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1em 2em;
  border-radius: 0.15em;
  font-size: 1.5rem;
  color: #646464;
  background-color: whitesmoke;
  -webkit-box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
          box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  cursor: pointer;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
  visibility: hidden;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.destiny-button:hover {
  background-color: #646464;
  color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */