/* Global settings*/
html{font-size: 62.5%;}
*{-webkit-tap-highlight-color: transparent;}
*:focus {outline: none;}
h1{font-size: 8rem;}
h2{font-size: 6.5rem;}
h3{font-size: 3rem;}
h4{font-size: 2.8rem;}
h5{font-size: 5rem;}
p{font-size: 2rem;}
a{text-decoration: none;}
body{
    background: rgb(36, 36, 36); 
    color: white;
    font-family: 'Lacquer', cursive;
    min-height: 100vh;
    
}

.title{
    text-align: center;
    margin: 5rem 0rem;
    padding: 0rem 2rem;
    animation: fade-in 2s;
}
.frasi{
    text-align: center;
    padding: 0rem 5rem;
    #f1{
        animation: fade-in-out 4s forwards;
        visibility: hidden;
        animation-delay: 1s;
    }
    #f2{
        animation: fade-in-out 4s forwards;
        transform: translateY(-100%);
        visibility: hidden;
        animation-delay: 5s;
    }
    #f3{
        animation: fade-in-out 4s forwards;
        transform: translateY(-200%);
        visibility: hidden;
        animation-delay: 9s;
    }
    #f4{
        text-align: center;
        animation: fade-in 2s forwards;
        transform: translateY(-300%);
        visibility: hidden;
        animation-delay: 13s;
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
      pointer-events: none;
    }
    to {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
  }

  @keyframes fade-in-out {
    0% {
        opacity: 0;
        pointer-events: none;
      }
    50% {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    100% {
        opacity: 0;
        pointer-events: none;
        display: none;
      }
    }

.weapons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: -5vh auto 0rem auto;
    animation: fade-in 2s forwards;
    visibility: hidden;
    animation-delay: 14s;
    img{
        width: 10vw;
        border: solid 2px white;
        border-radius: 10px;
        padding: 3rem;
        cursor: pointer;
    }
    img:hover{
        animation: ingrandisci 1.5s infinite alternate;
        transition: 1s;
        box-shadow: 0px 0px 20px white;
    }
}
.pointers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    animation: fade-in 2s forwards;
    visibility: hidden;
    animation-delay: 15s;
}
.pointers-box{
    padding: 3rem 4rem;
    h2{text-align: center;}
}
#battleresult{
        text-align: center;
        margin: 2rem 0rem;
}


@keyframes ingrandisci{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 740px){
    .title{margin-top: 2rem;}
    .weapons img{padding: 1.5rem;}
    #f3{margin-top: -6rem;}
    #f4{margin-top: -8rem;}
    .frasi{padding: 0rem 2rem;}
}




/*WIN-LOST SETTINGS*/
.destiny-title{
    text-align: center;
    margin: 10rem 0rem;
    padding: 0rem 5rem;
    animation: fade-in 2s forwards;
    visibility: hidden;
}
.destiny-button{
    margin-left: 50%;
    transform: translateX(-50%);
  padding: 1em 2em;
  border-radius: 0.15em;
  font-size: 1.5rem;
  color: #646464;
  background-color: rgb(245, 245, 245);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  cursor: pointer;
  animation: fade-in 2s forwards;
    visibility: hidden;
    animation-delay: 2s;
}
.destiny-button:hover{
    background-color: #646464;
    color: rgb(245, 245, 245);
}